/* line 1, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/contact.sass */
.contact-frame {
  text-align: center;
}
/* line 3, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/contact.sass */
.contact-frame a {
  color: #2e00bf;
  text-align: center;
}

/* line 7, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/contact.sass */
.gmap {
  padding-bottom: 25px;
}

/* line 10, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/contact.sass */
.info {
  font-size: 17px;
}

/* line 1, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/resume.sass */
.education {
  text-align: center;
  width: 40%;
  border-top: 1px solid;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

/* line 9, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/resume.sass */
.work-history {
  padding-top: 25px;
  text-align: center;
}

/* line 13, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/resume.sass */
.title {
  font-size: 30px;
  padding-bottom: 20px;
}

/* line 17, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/resume.sass */
.sub-title {
  font-size: 18px;
  padding: 0px 0px 5px 0px;
}

/* line 21, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/resume.sass */
.company {
  font-size: 20px;
}

/* line 24, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/resume.sass */
.info {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 25px;
}

/* line 29, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/resume.sass */
.body {
  font-size: 17px;
  color: #444444;
  padding: 0px 0px 35px 0px;
}

/* line 1, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/index.sass */
span {
  font-size: 18px;
}
/* line 3, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/index.sass */
span a {
  color: #00bfa8;
  text-decoration: underline;
}
/* line 6, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/index.sass */
span a:visited {
  color: #551a8b;
}

/* line 9, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/index.sass */
.header {
  border-bottom: 1px solid #5f5f5f;
  padding: 30px 0 30px 0;
  margin: 0 50px;
  text-align: center;
  font-size: 45px;
  line-height: 1.6;
}

/* line 17, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/index.sass */
.list-container {
  padding: 30px 0 30px 0;
  margin: 0 50px;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
}

/* line 1, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/treasure.sass */
body, textarea {
  margin: 0px;
  font-size: 16px;
}

/* line 5, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/treasure.sass */
input {
  width: 175px;
  color: black;
}

/* line 9, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/treasure.sass */
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 15, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/treasure.sass */
.middle {
  display: table-cell;
  vertical-align: middle;
}

/* line 19, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/treasure.sass */
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
/* line 23, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/treasure.sass */
.inner img {
  width: 200px;
  height: 150px;
}

/* line 27, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/treasure.sass */
.bottom {
  padding-left: 20px;
}
/* line 29, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/treasure.sass */
.bottom p {
  font-size: 14px;
}

/* line 32, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/treasure.sass */
h1 {
  font-size: 14px;
  color: white;
}

/* line 3, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
body {
  background-color: aliceblue;
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "sans-serif";
  color: black;
}

/* line 8, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.avatar-frame {
  height: 130px;
  width: auto;
}

/* line 12, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.avatar-content {
  height: 130px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
/* line 17, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.avatar-content img {
  width: 145px;
}

/* line 20, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.name-frame {
  height: 25px;
  width: auto;
  margin: 25px 0px 35px 0px;
}

/* line 25, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.name-content {
  text-align: center;
  height: 25px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* line 32, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.name-span {
  font-size: 14px;
  color: #9c9b9b;
  display: inline-block;
}

/* line 37, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.link-frame {
  padding-bottom: 20px;
  height: 25px;
  width: auto;
  margin-top: 15px;
  position: relative;
}

/* line 44, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.link-content {
  border-bottom: 1px solid;
  color: #9c9b9b;
  height: 25px;
  width: 80%;
  text-align: center;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

/* line 54, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.link-item {
  border: none;
  margin: 0px 25px 0px 25px;
  display: inline-block;
}
/* line 58, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.link-item a {
  color: #2e00bf;
  text-decoration: none;
}

/* line 62, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.border-frame {
  border: 1px solid;
  height: 20px;
  width: auto;
}

/* line 67, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.border-content {
  border: 1px solid;
  height: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* line 74, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.projects-frame {
  margin-top: 10px;
  height: 335px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 82, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.projects-content {
  height: 300px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* line 88, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.projects-pane {
  width: 30%;
  height: 300px;
  display: inline-block;
  float: left;
}

/* line 94, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
#pane-1 {
  float: left;
}

/* line 97, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
#pane-2 {
  float: none;
}

/* line 100, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
#pane-3 {
  float: right;
}

/* line 103, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.projects-pane img {
  max-width: 100%;
  max-height: 100%;
}

/* line 107, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.bottom-frame {
  padding-top: 10px;
  height: 50px;
  width: auto;
}

/* line 112, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.bottom-content {
  padding-top: 10px;
  border-top: 1px solid;
  color: #9c9b9b;
  height: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 121, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.bottom-content img {
  width: 30px;
  height: 30px;
}

/* line 125, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.top-content {
  font-size: 25px;
  margin-right: auto;
  margin-left: auto;
  height: 130px;
  width: 1000px;
  position: relative;
}

/* line 133, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.top-content-left {
  float: left;
  width: 50%;
  height: 100%;
}

/* line 138, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.name {
  font-size: 45px;
  bottom: 15px;
  position: absolute;
}

/* line 143, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.profession {
  font-size: 15px;
  bottom: 0px;
  position: absolute;
  padding-left: 3px;
}

/* line 149, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.top-content-right {
  float: right;
  width: 49%;
  height: 100%;
}

/* line 154, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.icons {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
/* line 158, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.icons img {
  width: 50px;
  height: 50px;
}
/* line 161, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.icons a {
  text-decoration: none;
}

/* line 164, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.dotted-line {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: url("dot.png");
  background-repeat: repeat-x;
}
/* line 170, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.dotted-line img {
  width: 0px;
}

/* line 173, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.inner-frame {
  height: 129px;
}

/* line 176, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.frame-bottom {
  height: 700px;
}

/* line 179, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.gem-container {
  position: relative;
  height: 75px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* line 186, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.link {
  font-size: 12px;
  width: 100px;
  height: 25px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-decoration: none;
}

/* line 195, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.img-container {
  height: 500px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* line 200, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.img-container img {
  width: 1000px;
  height: 500px;
}

/* line 204, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.body-seperator {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: url("dot.png");
  background-repeat: repeat-x;
}

/* line 211, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-container {
  height: 500px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 100px;
}

/* line 219, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-media {
  position: absolute;
  right: 0px;
  width: 220px;
  height: 499px;
}

/* line 225, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-media-container {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  height: 450px;
}

/* line 231, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-img img {
  height: 135px;
  width: 300px;
  margin-bottom: 20px;
}

/* line 236, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.dotted-line-vertical {
  position: absolute;
  right: 220px;
  width: 0px;
  margin-top: 25px;
  height: 450px;
}

/* line 243, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-body {
  position: absolute;
  left: 0px;
  height: 400px;
  width: 575px;
}

/* line 249, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-body-container {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  height: 375px;
}

/* line 255, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-body-container-title {
  height: 80px;
  font-size: 35px;
}

/* line 259, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-body-container-desc {
  height: 270px;
  margin-top: 20px;
  font-size: 17px;
}

/* line 264, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-gems {
  position: absolute;
  bottom: 0px;
  height: 45px;
  width: 575px;
}

/* line 270, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-gems-container {
  position: relative;
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

/* line 276, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-gems-img-1 img {
  position: absolute;
  height: 50px;
  width: 50px;
  margin-top: 3px;
  margin-left: 3px;
}

/* line 283, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-gems-img-2 img {
  margin-left: 70px;
  position: absolute;
  height: 50px;
  width: 50px;
  margin-top: 3px;
}

/* line 290, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-gems-img-3 img {
  margin-left: 140px;
  position: absolute;
  height: 50px;
  width: 50px;
  margin-top: 3px;
}

/* line 297, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-gems-img-4 img {
  margin-left: 210px;
  position: absolute;
  height: 50px;
  width: 50px;
  margin-top: 3px;
}

/* line 304, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-gems-img-5 img {
  margin-left: 280px;
  position: absolute;
  height: 50px;
  width: 50px;
  margin-top: 3px;
}

/* line 311, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.project-gems-img-6 img {
  margin-left: 320px;
  position: absolute;
  height: 50px;
  width: 50px;
  margin-top: 3px;
}

/* line 318, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.info {
  padding-top: 50px;
  text-align: center;
  font-size: 17px;
}

/* line 323, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.title {
  font-size: 30px;
  padding-bottom: 20px;
}

/* line 327, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.company {
  font-size: 20px;
}

/* line 330, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.info {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 25px;
}

/* line 335, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.contact {
  text-align: center;
}
/* line 337, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.contact a {
  color: #2e00bf;
  text-align: center;
}

/* line 341, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.gmap {
  padding-bottom: 25px;
}

/* line 344, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.bottom-nav {
  position: relative;
  text-align: right;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* line 351, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.right-pane {
  text-align: right;
}

/* line 354, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.left-pane {
  position: absolute;
  text-align: left;
  width: 80%;
}

/* line 359, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/welcome.sass */
.seperator {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid;
  color: #9c9b9b;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1000px) {
  /* line 3, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  body {
    font-size: 12px;
  }

  /* line 6, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .avatar-frame {
    height: 450px;
  }
  /* line 8, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .avatar-frame .avatar-content {
    width: 450px;
  }
  /* line 10, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .avatar-frame .avatar-content img {
    width: 450px;
  }

  /* line 13, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .name-frame {
    height: 80px;
  }
  /* line 15, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .name-frame .name-content {
    width: 850px;
  }
  /* line 17, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .name-frame .name-content .name-span {
    font-size: 45px;
  }

  /* line 20, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .link-frame {
    height: 100px;
  }
  /* line 22, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .link-frame .link-content {
    font-size: 45px;
    height: 100px;
    width: 100%;
  }

  /* line 27, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .projects-frame {
    height: 1000px;
    width: 100%;
  }
  /* line 30, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .projects-frame .projects-pane {
    display: block;
    float: none;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 500px;
  }
  /* line 36, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .projects-frame .projects-pane img {
    max-height: 200%;
  }

  /* line 39, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  #pane-1, #pane-2, #pane-3 {
    float: none;
  }

  /* line 42, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .title {
    font-size: 60px;
  }

  /* line 44, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .sub-title {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  /* line 48, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .education .body {
    font-size: 35px;
  }

  /* line 51, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .info {
    font-size: 60px;
  }

  /* line 54, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .project-container {
    height: 1000px;
  }

  /* line 58, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .project-body-container-title {
    font-size: 50px;
  }

  /* line 61, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .project-body-container-desc {
    font-size: 30px;
  }

  /* line 64, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .project-media {
    padding-top: 50px;
  }

  /* line 67, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .bottom-frame {
    padding-top: 1500px;
  }

  /* line 70, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .bottom-content {
    width: 100%;
  }
  /* line 72, /Users/iPatty/Dev/Ruby/Portfolio/app/assets/stylesheets/layout.sass */
  .bottom-content img {
    width: 90px;
    height: 90px;
  }
}
/*= require_self
 *= require lightbox
 *= require screen
 */
