  <div class="frame-top">
    <div class="card-frame" >
      <div id="top-container" class="inner-frame">
        <div class="top-content">
          <div class="name">Patrick Rawlings</div>
        </div>
      </div>
      <div class="dotted-line">
        <%= image_tag("dot.png", alt: "dotted division") %>
      </div>
      <div id="middle-container" class="inner-frame">
      </div>
      <div id="bottom-container" class="inner-frame">
      </div>
    </div>
  </div>
  <div class="frame-bottom">
</div>
