<div class="projects-frame">
  <div class="pane-content" >
    <div class="projects-pane" id="pane-1">
      <%= link_to assetricity_index_path do %>
        <img src="img/assetricity.png">
      <% end %>
    </div>
    <div class="projects-pane" id="pane-2">
      <%= link_to gbm_index_path do %>
        <img src="img/assetricity.png">
      <% end %>
    </div>
    <div class="projects-pane" id="pane-3">
      <%= link_to jenga_index_path do %>
        <img src="img/assetricity.png">
      <% end %>
    </div>
  </div>
</div>
