<div clas="resume-frame">
  <div class="work-history">
    <div class='title'>
      Work History
    </div>
    <div class="sub-title">
      <strong>Smashing Boxes</strong>
      (current)
    </div>
    <div class="body">
      Fullstack Developer
    </div>
    <div class="sub-title">
      <strong>Assetricity</strong>
    </div>
    <div class="body">
      Ruby on Rails Developer
    </div>
    <div class="sub-title">
      <strong>East Carolina University</strong>
    </div>
    <div class="body">
      Computer Systems Technician
    </div>
  </div>
  <div class="education">
    <div class="title">
      Education
    </div>
    <div class="body">
      Bachelors of Science in Computer Science at East Carolina University
    </div>
  </div>
</div>
