<div class="info">
  <div class='title'>
    Work History
  </div>
  <br/>
  <span class="company">
     Assetricity
  </span>
  <br/>
  <div class="info">
    Ruby on Rails Developer
  </div>
  <span class="company">
     East Carolina University
  </span>
  <br/>
  <div class="info">
    Computer Systems Technician
  </div>
</div>
<div class="info">
  <div class="title">
    Education
  </div>
  <br/>
  <div class="info">
    Bachelors of Science in Computer Science at East Carolina University
  </div>
</div>
