<div class= "outer">
  <div class="middle">
    <div class="inner">
      <%= image_tag("topen.png", alt: "") %>
      <p> You're pretty good. </p>
      <%= link_to "Go home", "/" %>
    </div>
  </div>
</div>
