// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-frame {
  text-align: center;
}
.contact-frame a {
  color: #2E00BF;
  text-align: center;
}
.gmap {
  padding-bottom: 25px;
}
.info {
  font-size: 17px;
}
