// Place all the styles related to the resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.education {
  text-align: center;
  width: 40%;
  border-top: 1px solid;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}
.work-history {
  padding-top: 25px;
  text-align: center;
}
.title {
  font-size: 30px;
  padding-bottom: 20px
}
.sub-title {
  font-size: 18px;
  padding: 0px 0px 5px 0px;
}
.company {
  font-size: 20px;
}
.info {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 25px;
}
.body {
  font-size: 17px;
  color: #444;
  padding: 0px 0px 35px 0px;
}


