// Place all the styles related to the treasure controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, textarea {
  background-color: white;
  margin: 0px;
  font-size: 16px;
}
input {
  width: 175px;
  color: black;
}
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.inner img {
  width: 200px;
  height: 150px;
}
.bottom {
  padding-left: 20px;
}
.bottom p {
  font-size: 14px;
}
h1 {
 font-size: 14px;
 color: white
}
