// Place all the styles related to the treasure controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: white;
}

.frame {
  height: 500px;
  width: 1000px;
  border: 1px solid;
}
.box {

}
