// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif';
}
.frame-top {
  border: 1px solid;
  height: 130px;
  width: auto;
}
.card-frame {
  height: 400;
  width: 700;
  margin-left: auto;
  margin-right: auto;
}
.top-content {
  font-size: 25px;
  margin-right: auto;
  margin-left: auto;
  height: 130px;
  width: 1000px;
  position: relative;
}
.top-content-left {
  float: left;
  width: 50%;
  height: 100%;
}
.name{
  font-size: 45px;
  bottom: 15px;
  position: absolute;
}
.profession{
  font-size: 15px;
  bottom: 0px;
  position: absolute;
  padding-left: 3px;
}
.top-content-right {
  float: right;
  width: 49%;
  height: 100%;
}
.icons {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.icons  img{
  width: 50px;
  height: 50px;
}
.icons  a{
  text-decoration: none;
}
.dotted-line {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background:url('dot.png');
  background-repeat:repeat-x;
}
.dotted-line img {
  width: 0px;
}
.inner-frame {
  height: 129px;
}
.frame-bottom {
  height: 400px;
}
.gem-container {
  border: 1px solid;
  height: 75px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;

}.img-container {
  border: 1px solid;
  height: 500px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.img-container img {
  width: 1000px;
  height: 500px;
}

